@font-face {
  font-family: 'DK Longreach';
  src: url('./assets/fonts/DK\ Longreach.otf');
}

@font-face {
  font-family: 'LILIMING Regular';
  src: url('./assets/fonts/LILIMING\ W00\ Regular.ttf');
}

@font-face {
  font-family: 'LILIMING Bold';
  src: url('./assets/fonts/LILIMING\ W00\ Bold.ttf');
}

/* ------------------------------------------ */

body {
  background: url('./assets/images/background.png') center repeat;
  color: #FFFFFF;
  font-family: 'LILIMING Regular', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  background: #211B23;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  background: #211B23;
  color: #D4CFD5;
  font-family: 'LILIMING Regular', sans-serif;
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.paper-background {
  background: url('/assets/images/paper-background.png') top center repeat;
}

h4 {
  font-size: 1.25rem;
}

/* ------------------------------------------ */

/* Home */

.sitemap-widget {
  background: #824EFF;
}

.sitemap-widget .menu{
  margin-top: 1rem;
  line-height: 1.4;
}

.sitemap-widget .submenu{
  margin-left: 1.75rem;
}

.sitemap-widget .menu a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.1rem;
}

.bio-widget {
  background: #231d25;
  color: #D4CFD5;
  position: relative;
}

.bio-widget .about-text {
  font-size: 1.4rem;
  line-height: 1.4;
}

.bio-widget .characteristics p {
  font-size: 1.2rem;
}

.bio-widget .baloon-ju {
  position: absolute;
  top: -9.5rem;
  right: -0.5rem;
}

.lastfm-widget {
  background: #6523FF;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.lastfm-widget #widget {
  display: flex;
  flex-direction: column;
}

.lastfm-widget img {
  border-radius: 0.5rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
  max-width: 204px;
  max-height: 204px;
  margin-left: auto;
  margin-right: auto;
}

.lastfm-widget .lastfm-track-name {
  font-family: 'DK Longreach', sans-serif;
  font-size: 1.55rem;
  margin-bottom: 0.2rem;
}

.lastfm-widget .lastfm-artist-name {
  font-size: 1.3rem;
  margin-bottom: 0.1rem;
}

.lastfm-widget .lastfm-album-name {
  font-size: 0.85rem;
}

.cbox-widget {
  background: #383838;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1.75rem;
}

.cbox-widget .title {
  line-height: 1;
  margin-bottom: 1rem;
}

.noticias-widget {
  background: #9568FF;
}

.noticias-widget .noticia-block {
  font-family: 'DK Longreach', sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  position: relative;
}

.noticias-widget .noticia-block:hover {
  text-decoration: underline;
}

.noticias-widget .more-news {
  font-size: 1.2rem;
}

/* ------------------------------------------ */

/* Sobre */

.about .ju-text {
  font-size: 1.25rem;
  line-height: 1.3;
}

.about .ju-photo {
  border-radius: 0.5rem;
}

/* ------------------------------------------ */

/* Noticias */

.news-portal .news-item .news-title {
  font-family: 'DK Longreach', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.news-portal .news-item .news-title small {
  font-family: 'LILIMING Regular', sans-serif;
}

.news-portal .news-item .news-text {
  line-height: 1.2;
}

.news-portal .news-item .news-read {
  font-size: 1.5rem;
}

/* ------------------------------------------ */

/* Noticia - Interna */

.news-interna .news-title {
  font-family: 'DK Longreach', sans-serif;
  font-size: 1.75rem;
  line-height: 1.2;
}

.news-interna .news-by {
  display: block;
  font-family: 'LILIMING Regular', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.news-interna .news-text {
  font-size: 1.25rem;
  line-height: 1.2;
}

/* ------------------------------------------ */

/* Filmes */

.movies .movie-title {
  font-family: 'DK Longreach', sans-serif;
  font-size: 1.85rem;
  line-height: 0.8;
  margin-bottom: 0.75rem;
}

.movies .movie-title small {
  font-family: 'LILIMING Regular', sans-serif;
  font-size: 1.1rem;
}

.movies .movie-text {
  font-size: 1.25rem;
  line-height: 1.1;
}

/* ------------------------------------------ */

/* Álbuns */

.albums .album-title {
  font-family: 'DK Longreach', sans-serif;
  font-size: 1.8rem;
  line-height: 0.8;
  margin-bottom: 0.75rem;
}

.albums .album-title small {
  font-family: 'LILIMING Regular', sans-serif;
  font-size: 1.35rem;
}

.albums .album-text {
  font-size: 1.25rem;
  line-height: 1.1;
}

/* ------------------------------------------ */

/* Séries */

.tvshows .tvshow-title {
  font-family: 'DK Longreach', sans-serif;
  font-size: 1.75rem;
  line-height: 0.7;
  margin-bottom: 0.75rem;
}

.tvshows .tvshow-title small {
  font-family: 'LILIMING Regular', sans-serif;
  font-size: 1rem;
}

.tvshows .tvshow-text {
  font-size: 1.25rem;
  line-height: 1.2;
}

/* ------------------------------------------ */

/* Figurinhas */

.stickers .sticker-info {
  font-size: 1.25rem;
  line-height: 1.3;
}

/* ------------------------------------------ */

/* Quiz */

.quiz {
  background: #311138;
}

.quiz .result {
  text-align: center;
}

.quiz #question {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.quiz #options {
  font-size: 1.5rem;
  /* text-align: center; */
}

.quiz #submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.quiz .result-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.quiz .result-text {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.quiz .result-image {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.quiz #submit, .quiz #restart {
  background: #4e1097;
  border-radius: 4rem;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}

@media (max-width: 600px) {
  body {
    display: none;
  }
}